/* GENERAL */
body {
    background: #212121;
    margin: 0;
}

h2 {
    margin-left: 10px;
    position: absolute;
}

input {
    position: absolute;
    font-size: 1.5rem;
    width: 180px;
    height: 50px;
    top: 10px;
    left: 10px;
    color: inherit;
    background-color: inherit;
}

textarea {
    width: 245px;
    height: 295px;
    resize: none;
    color: inherit;
    background-color: inherit;
}

pre {
    max-width: 245px;
    white-space: pre-wrap;
}

/* ID */
#resizable {
    resize: both;
}

#barra {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 35px;
    background: white;
    
}

#posts {
    margin-left: 52px;
}

#colorSelectLeftBT1 {
    display: none;
}
#colorSelectRightBT3 {
    display: none;
}

/* CLASES */
.bt_edit {
    width: 50px;
    height: 50px;
    top: 12.5px;
    right: 12.5px;
    font-size: 2.5rem;
    text-align: center;
    color: gray;
    border: none;
    position: absolute;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    transform: rotateZ(90deg);
    background: rgba(0,0,0,0.0001)
}
.bt_edit:hover {
    background: #bbbbbb;
}

.bt_sidebar {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    background: #ffffff;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0;
}

.bt_sidebar:nth-child(1) img {
    margin: auto;
    transform: rotateZ(180deg);
}

.bt_sidebar:hover {
    background: #bbbbbb;
}

.post {
    position: relative;
    display: block;
    background: rgb(255, 255, 255);
    width: 278.5px;
    height: 400px;
    padding: 10px;
    border-radius: 7.5px;
    resize: none;
    overflow: auto;
    margin: 5px;
    min-width: 210px;
    max-width: 97.5vw;
    min-height: 170px;
    float: left;
    z-index: 2;
    overflow:visible;
}

.post_head {
    position: absolute;
    width: 278.5px;
    height: 75px;
    margin: 0;
    border-radius: 7.5px;
    border: 1px solid #919191;
    border-bottom: 0;
    background: rgb(238, 238, 238);
}

.post_content {
    position: absolute;
    width: 258.5px;
    height: 300px;  
    margin: 0;
    margin-top: 77px;
    border-radius: 7.5px;
    padding: 10px;
    background: rgb(238, 238, 238);
    border: 1px solid #919191;
    
}

.postAmountSelector {
    position: absolute;
}

.unselected {
    background: #878f99;
    z-index: -1;
}

.post_head.unselected {
    border-bottom: 0;
}

.addSize {
    position: absolute;
    width: fit-content;
    z-index: 8;
    display: flex;
    
}

.addSize button {
    position: absolute;
    cursor: pointer;
}

.no-visible {
    display: none;
}

.resetRotation {
    transform: rotateZ(0deg)
}

.noteOptions {
    background: #cccccc;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding: 5px;
    padding-top: 0;
    z-index: 5;
    right: 10px;
    top: 65px;
}

.noteSubOptions {
    background: #aaaaaa;
    width: 180px;
    height: 30px;
    padding: 5px;
    position: relative;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}

.sub2 {
    height: 40px;
}

.noteSubOptions input {
    margin: auto;
    position: absolute;
    width: 140px;
    height: 25px;
    left: 25px;
    top: 22px;
}

.noteSubOptions:nth-child(2) button {
    margin: auto;
    position: absolute;
    width: 160px;
    height: 25px;
    left: 15px;
    top: 7.5px;
}

.colorSelectShow {
    top: -0.5px;
    margin: auto;
    position: absolute;
    color: black;
}

.colorSelectShow1 {
    left: 42.5px;
}

.colorSelectShow2 {
    left: 43px;
}

.colorSelectShow3 {
    left: 62.5px;
}

.colorSelectBT {
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background: none;
    top: 24.5px;
    cursor: pointer;
}

.colorSelectBT img {
    padding: 0;
    margin: 0;
}

.colorSelectLeftBT {
    left: 2.5px;
}

.colorSelectRightBT {
    right: 2.5px;
    transform: rotateZ(180deg);
}