.light {
    --bg-color: rgb(218, 218, 218);
    --bg-color-2: #b6b5b5;
    --text-color: #111;
}

.dark {
    --bg-color: #141616;
    --bg-color-2: #2e3133;
    --text-color: #fff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
body::-webkit-scrollbar-track {
    background: #bbbbbb;
  }
  
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* THEME CHANGER */

.changer-main {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.changer {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.changer span.changer-colors {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.changer button {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 70%;
    border: none;
    background: rgba(0,255,0,0.2);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: .5s;
    cursor: pointer;
}

.changer button.light {
    margin-left: -68px;
}

.changer button.dark {
    margin-left: 68px;
    background: rgba(0,255,0,0.5);
}

.changer-mid {
    position: absolute;
    width: 50px;
    height: 5px;
    background: lime;
    border-radius: 20%;
}

.changer-light {
    background: white;
    border: 1px solid black;
    left: 5px;
}

.changer-dark {
    background: black;
    border: 1px solid white;
    right: 5px;
}



#headerSection {
    width: inherit;
    height: inherit;
    position: relative;
    
}
#header-content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Acme';
    letter-spacing: 2rem;
}

#header-content>div {
    width: fit-content;
}

.typewriter h1 {
    width: 95%;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 1.5s steps(8, end), forwards,
        blink-caret .75s step-end infinite
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 95%}
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.content {
    background: var(--bg-color-2);
    height: 1000px;
    position: relative;
    margin: 0;
    padding: 75px 0 0 0;
    z-index: -2;
}

.content > div {
    margin-top: 50px;
    margin-left: 10px;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
    
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    border-left: 0;
    width: 55%;
    height: 100%;
    background-color: var(--bg-color-2);
    transform: translate(85%, 60%);
    z-index: 0;
}
.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--bg-color);
    transform: translate(-4%, 40%);
    z-index: -1;
}