#upMenu {
    position: fixed;
    width: 100%;
    height: 40px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1000;
}

#search {
    position: absolute;
    width: 25%;
    height: 28px;
    top: 5px;
    background: #D3D3D3;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    margin-left: 720px;
}
#search input {
    position: absolute;
    width: 470px;
    height: 24px;
    background: inherit;
    left: 3px;
    top: 1px;
}
#search button {
    position: absolute;
    top: -1px;
    right: -2px;
    padding: 0;
    width: 45px;
    height: 30px;
    background-color: inherit;
    border: inherit;
    font-weight: 600;
    font-size: 0.8rem;
}
#search button img {
    margin-top: 1px;
}

.menuObject {
    position: absolute;
    top: 5px;
    margin-left: 0px;
}
.menuObject > button{
    border-radius: 2px;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background: #ccc;
    transition: .5s;
}
.menuObject button:hover {
    background: #aaa;
}
.menuObject img{
    padding: 0;
    margin-top: 2px;
}
#createPost {
    margin-left: 5px;
}
#options {
    margin-left: 40px;
}

.menuObject button:nth-child(1):focus {
    outline: 1px solid black;
    background: #666;
}

.notesGrid {
    width: 130px;
    height: 70px;
}


#optionsMenu {
    position: relative;
    width: 130px;
    height: 150px;
    background: white;
    z-index: 500;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 700;
}

#optionsMenu.no-visible {
    display: none;
}

.notesGrid p:nth-child(1) {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#x {
    position: absolute;
    margin-top: 25px;
    margin-left: 57px;
    font-size: 2em;
}

.gridSizeInput {
    position: absolute;
    width: 40px;
    height: 30px;
    margin-top: 20px;
    background: lightgray;
}

.gridSizeInput:nth-child(2) {
    margin-left: 65px;
}

#setGridSize {
    position: absolute;
    margin-top: 65px;
    margin-left: 50px;
}

.saveLoad {
    display: flex;
    width: 130px;
    height: 50px;
}

.saveLoad button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 2px;
    margin-top: -15px;
    transition: .5s;
}

.saveLoad img {
    margin-left: 0px;
    margin-top: 0px;
}

.save {
    width: 60px;
    height: 30px;
    margin-left: 10px;
}
.save p {
    margin-left: 5px;
}

.load {
    width: 60px;
    height: 30px;
    margin-left: 5px;
}
.load p {
    margin-left: 5px;
}